﻿@{
    ViewBag.Title = "Master-Faculty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Master-Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page content -->
<div class="right_col" role="main">
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3></h3>
        </div>

        <input type="file" value="Choose a file" />
        <br />
        <input type="button" value="Upload" id="upload" />


    </div>
</div>
    </div>
<!-- /page content -->



@section scripts{

<script type="text/javascript">
    $(document).ready(function() {
        $('#upload').click(function () {
            var data = new FormData();
            var file = $('input[type=file]')[0].files[0];
            data.append('file',file);
            $.ajax({
                url: '../api/FileFactService/UploadFile',
                processData: false,
                contentType: false,
                data: data,
                type: 'POST'
            }).done(function(result) {
                alert(result);
            }).fail(function(a, b, c) {
                console.log(a, b, c);
            });
        });
    });
</script>  


}