﻿@{
    ViewBag.Title = "Master-Faculty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}             

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Master Branch</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <button class="btn btn-default" id="addMode">Add(+)</button>
        <div class="row">
            <!-- form input Faculty -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Input Faculty</h2>                 
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="display: none" id="facultyaddsection">
                        <br />
                        <form id="facultyfrm" class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Faculty Code</label>
                                <div class="col-md-4 col-sm-9 col-xs-9">
                                    <input name="Code" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Faculty Name</label>
                                <div class="col-md-4 col-sm-9 col-xs-9">
                                    <input name="Name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="ln_solid"></div>

                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-3">
                                    <button id="addBtn" type="button" class="btn btn-success">Submit</button>
                                    <button id="CancelAddMode" type="button" class="btn btn-primary" style="width: 69px">Clear</button>
                                </div>
                            </div>

                        </form>
                    </div>


                    <div class="x_content" style="display: none" id="facultyupdatesection">
                        <br />
                        <form id="facultyfrmUpdate" class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Faculty Code</label>
                                <div class="col-md-4 col-sm-9 col-xs-9">
                                    <input name="Code" id="updateCode" type="text" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Faculty Name</label>
                                <div class="col-md-4 col-sm-9 col-xs-9">
                                    <input name="Name" id="updateName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="ln_solid"></div>

                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-3">
                                    <button id="updateBtn" type="button" class="btn btn-success">Submit</button>
                                    <button id="CancelUpdateMode" type="button" class="btn btn-primary" style="width: 69px">Clear</button>
                                </div>
                            </div>

                        </form>
                    </div>



                </div>
            </div>
            <!-- /form input Faculty -->
        </div>
        <!-- List Branch -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>List Faculty</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="dt_jq" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Created</th>
                                <th></th>
                            </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /List Branch -->
    </div>
</div>


@section scripts{
    <script>

        $(document)
            .ready(function() {

                //Datatable 
                var dt = $('#dt_jq')
                    .DataTable({
                        "ServerSide": true,
                        "ajax": "../api/FacultyService/Find",
                        "Processing": true,
                        "columns": [
                        { "data": null },
                        { "data": "Name"},
                        { "data": "Code" },
                        { "data": "Created" },
                        {
                        mRender: function(data, type, full) {
                            return '<button class="btn btn-success"  updateBtn  data-name="' +
                                full.Name +
                                '" data-code="' +
                                full.Code +
                                '"   >Update</button>' +
                                '<button deleteBtn class="btn btn-success"    data-name="' +
                                full.Name +
                                '" data-code="' +
                                full.Code +
                                '"   >Delete</button>';
                        }
                    }
                ]
                    });

        dt.on('order.dt search.dt', function () {
                dt.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();


        $(document)
            .on('click',
                'button[updateBtn]',
                function() {
                    $('#facultyupdatesection').show('slow');
                    $('#updateName').val($(this).data('name'));
                    $('#updateCode').val($(this).data('code'));
                });

        $(document)
            .on('click',
                'button[deleteBtn]',
                function() {
                    var code = $(this).data('code');
                    console.log(code);
                    swal({
                            title: "Are you sure?",
                            text: "You will not be able to recover this imaginary file!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes, delete it!",
                            closeOnConfirm: false
                        },
                        function() {
                            $.get('../api/FacultyService/Delete/' + code)
                                .done(function() {
                                    dt.ajax.reload();
                                    swal("Deleted!", "Your imaginary file has been deleted.", "success");
                                })
                                .fail(function() {

                                });

                        });
                });


        $('#addMode')
            .click(function() {
                $('#facultyaddsection').show('slow');
            });

        $('#CancelAddMode')
            .click(function() {
                $('#facultyaddsection').hide('slow');
            });

        $('#CancelUpdateMode')
            .click(function() {
                $('#facultyupdatesection').hide('slow');
            });


        $('#addBtn')
            .click(function() {

                var frmData = $('#facultyfrm').serializeFormJSON();

                $.post('../api/FacultyService/Add', frmData)
                    .done(function() {
                        dt.ajax.reload();
                        $('#facultyaddsection').hide('slow');
                    })
                    .fail(function() {
                        alert("Error");
                    });

            });


        $('#updateBtn')
            .click(function() {
                var frmData = $('#facultyfrmUpdate').serializeFormJSON();

                $.post('../api/FacultyService/Update', frmData)
                    .done(function() {
                        dt.ajax.reload();
                        $('#facultyupdatesection').hide('slow');
                    })
                    .fail(function() {
                        alert("Error");
                    });
            });
        });


    </script>
}

<!-- /page content -->