﻿@{
    ViewBag.Title = "Master-Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Master Branch</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <button class="btn btn-default" id="addMode">Add(+)</button>
        <div class="row">
            <!-- form input Branch -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Input Branch</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>                    
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="display: none" id="branchaddsection">
                        <br />
                        <form id="branchfrm" class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Faculty</label>
                                <div class="col-md-4 col-sm-9 col-xs-9">
                                    <select name="FacultyCode" class="form-control">
                                        <option>Select Faculty</option>
                                        @foreach (var item in Model)
                                        {
                                            <option value="@item.FacultyCode">@item.FacultyName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Branch Code</label>
                                <div class="col-md-4 col-sm-9 col-xs-9">
                                    <input name="Code" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Branch Name</label>
                                <div class="col-md-4 col-sm-9 col-xs-9">
                                    <input name="Name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="ln_solid"></div>

                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-3">
                                    <button id="addBtn" type="button" class="btn btn-success">Submit</button>
                                    <button id="CancelAddMode" type="button" class="btn btn-primary" style="width: 69px">Clear</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="x_content" style="display: none" id="branchupdatesection">
                        <br />
                        <form id="branchfrmUpdate" class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Faculty</label>
                                <div class="col-md-4 col-sm-9 col-xs-9">
                                    <select id="updateFacultyCode" name="FacultyCode" class="form-control">

                                        @foreach (var item in Model)
                                        {
                                            <option value="@item.FacultyCode">@item.FacultyName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Branch Code</label>
                                <div class="col-md-4 col-sm-9 col-xs-9">
                                    <input id="updateCode" name="Code" type="text" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Branch Name</label>
                                <div class="col-md-4 col-sm-9 col-xs-9">
                                    <input id="updateName" name="Name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="ln_solid"></div>

                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-3">
                                    <button id="updateBtn" type="button" class="btn btn-success">Submit</button>
                                    <button id="CancelUpdateMode" type="button" class="btn btn-primary" style="width: 69px">Clear</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!-- /form input Branch -->
        </div>  
        <!-- List Branch -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>List Branch</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="dt_jq" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>FacultyName</th>
                                    <th>BranchCode</th>
                                    <th>BranchDetail</th>
                                    <th>Created</th>
                                    <th></th>
                                </tr>
                            </thead>



                        </table>
                    </div>
                </div>
            </div>
        </div>    
        <!-- /List Branch -->
    </div>
</div>
@section scripts{
    <script>

        $(document)
            .ready(function () {

                //Datatable
                var dt = $('#dt_jq')
                    .DataTable({
                        "ServerSide": true,
                        "ajax": "../api/BranchService/Find",
                        "Processing": true,
                        "columns": [
                            { "data": "FacultyName" },
                            { "data": "Name" },
                            { "data": "Code" },
                            { "data": "Created" },
                            {
                                mRender: function (data, type, full) {
                                    return '<button class="btn btn-success"  updateBtn  data-name="' + full.Name + '" data-code="' + full.Code + '" data-facultyCode="' + full.FacultyCode + '"  >Update</button>'
                                    + '<button deleteBtn class="btn btn-success"    data-name="' + full.Name + '" data-code="' + full.Code + '"   >Delete</button>';
                                }
                            }
                        ]
                    });

                $(document)
                    .on('click',
                        'button[updateBtn]',
                        function () {
                            var x = $(this).data('facultyCode');
                            $('#branchupdatesection').show('slow');
                            $('#updateName').val($(this).data('name'));
                            $('#updateCode').val($(this).data('code'));
                            $('#updateFacultyCode').children().filter(function () {
                                return $(this).val() == x;
                            }).prop('selected',true);

                           // $('#updateFacultyCode').val($(this).data('facultyCode'));
                        });

                $(document)
                    .on('click',
                        'button[deleteBtn]',
                        function () {
                            var code = $(this).data('code');
                            console.log(code);
                            swal({
                                title: "Are you sure?",
                                text: "You will not be able to recover this imaginary file!",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Yes, delete it!",
                                closeOnConfirm: false
                            },
                                function () {
                                    $.get('../api/BranchService/Delete/' + code)
                                        .done(function () {
                                            dt.ajax.reload();
                                            swal("Deleted!", "Your imaginary file has been deleted.", "success");
                                        })
                                        .fail(function () {

                                        });

                                });
                        });


                $('#addMode')
                    .click(function () {
                        $('#branchaddsection').show('slow');
                    });

                $('#CancelAddMode')
                    .click(function () {
                        $('#branchaddsection').hide('slow');
                    });

                $('#CancelUpdateMode')
                    .click(function () {
                        $('#branchupdatesection').hide('slow');
                    });


                $('#addBtn')
                    .click(function () {

                        var frmData = $('#branchfrm').serializeFormJSON();

                        $.post('../api/BranchService/Add', frmData)
                            .done(function () {
                                dt.ajax.reload();
                                $('#branchaddsection').hide('slow');
                            })
                            .fail(function () {
                                alert("Error");
                            });

                    });


                $('#updateBtn')
                    .click(function () {
                        var frmData = $('#branchfrmUpdate').serializeFormJSON();

                        $.post('../api/BranchService/Update', frmData)
                            .done(function () {
                                dt.ajax.reload();
                                $('#branchupdatesection').hide('slow');
                            })
                            .fail(function () {
                                alert("Error");
                            });
                    });

            });





    </script>
}


<!-- /page content -->
